
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

:root {
  --bg-color: lavender;
  --hd-color: rgb(74, 138, 138);
  --hd-font: 'Rubik Bubbles', cursive;
  --Al-font: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #545862;
}

body {
  background-color: var(--bg-color);
  font-family: var(--Al-font);
}

main {
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 40px;
  font-weight: 900;
  color: var(--hd-color);
  font-family: var(--hd-font);
}

section {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin: 50px auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 60px #ccc;
  padding: 20px;
}

#refresh {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  height: 30px;
  font-size: 14px;
  box-shadow: 0 0 6px #545862;
  transition: 0.3s;
}

#refresh:hover {
  box-shadow: none;
  border: none;
}

article {
  margin: 0 20px;
}

article h3 {
  text-align: left;
  color: var(--hd-color);
  font-family: var(--hd-font);
}

table {
  border: 2px solid var(--bg-color);
  width: 300px;
  margin: 20px 0;
}

tr {
  height: 20px;
}

tr:nth-child(even) {
  background-color: var(--bg-color);
}

form {
  margin-top: 20px;
}

input {
  display: block;
  height: 30px;
  width: 80%;
  margin: 10px 0;
  outline: none;
}

input[type="button"] {
  width: 100px;
  float: right;
  margin-right: 20%;
  border-radius: 5px;
  border: 1px solid white;
  height: 30px;
  font-size: 14px;
  box-shadow: 0 0 6px #545862;
  transition: 0.3s;
}

input[type="button"]:hover {
  box-shadow: none;
  border: none;
}

#box_message {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  font-size: 20px;
  font-weight: 500;
}
