
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

:root {
  --bg-color: lavender;
  --hd-color: rgb(74, 138, 138);
  --hd-font: 'Rubik Bubbles', cursive;
  --Al-font: 'Nunito Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: #545862;
}

body {
  background-color: var(--bg-color);
  font-family: var(--Al-font);
}

main {
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 40px;
  font-weight: 900;
  color: var(--hd-color);
  font-family: var(--hd-font);
}

section {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin: 50px auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 60px #ccc;
  padding: 20px;
}

#refresh {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  height: 30px;
  font-size: 14px;
  box-shadow: 0 0 6px #545862;
  transition: 0.3s;
}

#refresh:hover {
  box-shadow: none;
  border: none;
}

article {
  margin: 0 20px;
}

article h3 {
  text-align: left;
  color: var(--hd-color);
  font-family: var(--hd-font);
}

table {
  border: 2px solid var(--bg-color);
  margin: 20px 0;
  max-width: 500px;
  min-width: 350px;
  display: block;
}

tbody {
  display: block;
  height: 400px;
  overflow-y: scroll;
  margin: 0;
}

thead {
  display: block;
}

tr,
th {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3px 0;
}

td {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

tbody tr:nth-child(odd) {
  background-color: rgba(74, 138, 138, 0.486);
}

tbody tr:nth-child(even) {
  background-color: var(--bg-color);
}

tbody tr:nth-child(1) > td:nth-child(1)::before {
  content: "\f091";
}

tbody tr:nth-child(2) > td:nth-child(1)::before {
  content: "\f5a2";
}

tbody tr:nth-child(3) > td:nth-child(1)::before {
  content: "\f559";
}

tbody tr:nth-child(1) > td:nth-child(1)::before,
tbody tr:nth-child(2) > td:nth-child(1)::before,
tbody tr:nth-child(3) > td:nth-child(1)::before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 20px;
  display: inline-block;
  width: 60px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: yellow;
}

form {
  margin-top: 20px;
}

.inpt_card {
  position: relative;
  text-align: left;
  margin: 20px 0;
}

.inpt_card input {
   border: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: none;
   height: 35px;
   width: 100%;
   padding-left: 15px;
   font-size: 14px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   background:
     linear-gradient(90deg, var(--hd-color), var(--hd-color)) center bottom/0 0.15em no-repeat,
     linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
     linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
   transition: background-size 0.3s ease;
}

.inpt_card label {
   position: absolute;
   left: 15px;
   top: 9px;
   width: calc(100% - (30px));
   overflow: hidden;
   color: #aaa;
   transition: all 0.3s ease;
}

.inpt_card input.dirty + label,
.inpt_card input:focus + label,
.inpt_card input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
  color: var(--hd-color);
}

.inpt_card input.dirty,
.inpt_card input:not(:placeholder-shown),
.inpt_card input:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

input[type="button"] {
  width: 100px;
  float: right;
  border-radius: 5px;
  border: 1px solid white;
  height: 30px;
  font-size: 14px;
  box-shadow: 0 0 6px #545862;
  transition: 0.3s;
}

input[type="button"]:hover {
  box-shadow: none;
  border: none;
}

#box_message {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  font-size: 20px;
  font-weight: 500;
}
